@{
    ViewBag.Title = "About";
}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">About Us</h3>
        </div>
        <div class="panel-body">
            <div class="form-horizontal">


                <div class="row">

                    <div class="col-lg-5">
                        <p>
                            The project is developed by a four member group from Universiy Of Karachi's department of computer science.
                            This project is developed as a final year project of our four year bachelors degree program. The project may lack some
                            features because of the time constraints. All the members are currently employed in different software houses
                            and the development of extended features of the project are still in the backlog and may be resumed as soon as we get
                            time.

                        </p>
                    </div>
                </div>
                <h3>  Developers:</h3>

                <div class="col-lg-8">
                    <div class="row">


                        <div class="col-lg-3">

                            <div class="col_1_of_about-grids span_1_of_about-grids">
                                <a class="popup-with-zoom-anim" href="#small-dialog2">
                                    <img src="~/Content/HomeController/images/about-img9.jpg" alt="" />
                                    <h3>Omer Tariq</h3>
                                </a>
                            </div>

                            <div class="col_1_of_about-grids span_1_of_about-grids">
                                <a class="popup-with-zoom-anim" href="#small-dialog2">
                                    <img src="~/Content/HomeController/images/about-img9.jpg" alt="" />
                                    <h3>Shahzeb Ali Khan</h3>
                                </a>
                            </div>

                        </div>
                        <div class="col-lg-3">
                            <div class="col_1_of_about-grids span_1_of_about-grids">
                                <a class="popup-with-zoom-anim" href="#small-dialog2">
                                    <img src="~/Content/HomeController/images/about-img9.jpg" alt="" />
                                    <h3>Sheikh Muhammad Muneeb</h3>
                                </a>
                            </div>

                            <div class="col_1_of_about-grids span_1_of_about-grids">
                                <a class="popup-with-zoom-anim" href="#small-dialog2">
                                    <img src="~/Content/HomeController/images/about-img9.jpg" alt="" />
                                    <h3>Muhammad Shaheer</h3>
                                </a>
                            </div>
                        </div>




                    </div>
                    </div>
                </div>
        </div>
    </div>
