@{
    ViewBag.Title = "About";
}
<div class="banner">
    <div class="wrap">
        <h2>About Us</h2><div class="clear"></div>
    </div>
</div>
<div class="main">
    <div class="project-wrapper">
        <div class="wrap">
            <div class="section group">
                <div class="lsidebar span_1_of_about">
                    <img src="~/Content/HomeController/images/about-img.jpg" alt="" />
                </div>
                <div class="cont span_2_of_about">
                    <h2>Welcome to our Team</h2>
                    <h3>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam </h3>
                    <div class="section group example">
                        <div class="col_1_of_2 span_1_of_2">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>
                        </div>
                        <div class="col_1_of_2 span_1_of_2">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="about-middle">
                <h4><span>Our Skills</span></h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            </div>
            <div class="section group example">
                <div class="col_1_of_2 span_1_of_2">
                    <div class="skills">
                        <ul>
                            <li>
                                <div class="percentage">90%</div>
                                <div class="percent-text">Html/css</div>
                                <div class="clear"></div>
                            </li>
                            <li>
                                <div class="percentage">87%</div>
                                <div class="percent-text1">Html/css</div>
                                <div class="clear"></div>
                            </li>
                            <li>
                                <div class="percentage">70%</div>
                                <div class="percent-text2">Html/css</div>
                                <div class="clear"></div>
                            </li>
                            <li>
                                <div class="percentage">75%</div>
                                <div class="percent-text3">Html/css</div>
                                <div class="clear"></div>
                            </li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                </div>
                <div class="col_1_of_2 span_1_of_2">
                    <div class="skills">
                        <ul>
                            <li>
                                <div class="percentage">80%</div>
                                <div class="percent-text4">Html/css</div>
                                <div class="clear"></div>
                            </li>
                            <li>
                                <div class="percentage">76%</div>
                                <div class="percent-text5">Html/css</div>
                                <div class="clear"></div>
                            </li>
                            <li>
                                <div class="percentage">65%</div>
                                <div class="percent-text6">Html/css</div>
                                <div class="clear"></div>
                            </li>
                            <li>
                                <div class="percentage">85%</div>
                                <div class="percent-text7">Html/css</div>
                                <div class="clear"></div>
                            </li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="about-middle">
                <h4><span>Our Team</span></h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            </div>
            <div class="team1">
                <div class="col_1_of_about-grids span_1_of_about-grids">
                    <a class="popup-with-zoom-anim" href="#small-dialog2">
                        <img src="~/Content/HomeController/images/about-img2.jpg" alt="" />
                        <h3>Web Designer</h3>
                    </a>
                </div>
                <div class="col_1_of_about-grids span_1_of_about-grids">
                    <a class="popup-with-zoom-anim" href="#small-dialog2">
                        <img src="~/Content/HomeController/images/about-img3.jpg" alt="" />
                        <h3>Web Designer</h3>
                    </a>
                </div>
                <div class="col_1_of_about-grids span_1_of_about-grids">
                    <a class="popup-with-zoom-anim" href="#small-dialog2">
                        <img src="~/Content/HomeController/images/about-img4.jpg" alt="" />
                        <h3>Web Designer</h3>
                    </a>
                </div>
                <div class="col_1_of_about-grids span_1_of_about-grids">
                    <a class="popup-with-zoom-anim" href="#small-dialog2">
                        <img src="~/Content/HomeController/images/about-img5.jpg" alt="" />
                        <h3>Web Designer</h3>
                    </a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="team1">
                <div class="col_1_of_about-grids span_1_of_about-grids">
                    <a class="popup-with-zoom-anim" href="#small-dialog2">
                        <img src="~/Content/HomeController/images/about-img6.jpg" alt="" />
                        <h3>Web Designer</h3>
                    </a>
                    <!-- start magnific -->
                    <div id="small-dialog2" class="mfp-hide">
                        <div class="pop_up">
                            <h2>about designer</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            <div class="social-icons">

                                <h2 style="margin-top: 4%;">get in touch</h2>
                                <ul>
                                    <li class="facebook"><a href="#"><span> </span></a></li>
                                    <li class="google"><a href="#"><span> </span></a></li>
                                    <li class="twitter"><a href="#"><span> </span></a></li>
                                    <li class="linkedin"><a href="#"><span> </span></a></li>
                                    <li class="youtube"><a href="#"><span> </span></a></li>
                                    <li class="bloger"><a href="#"><span> </span></a></li>
                                    <li class="rss"><a href="#"><span> </span></a></li>
                                    <li class="dribble"><a href="#"><span> </span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- end  magnific -->

                </div>
                <div class="col_1_of_about-grids span_1_of_about-grids">
                    <a class="popup-with-zoom-anim" href="#small-dialog2">
                        <img src="~/Content/HomeController/images/about-img7.jpg" alt="" />
                        <h3>Web Designer</h3>
                    </a>
                </div>
                <div class="col_1_of_about-grids span_1_of_about-grids">
                    <a class="popup-with-zoom-anim" href="#small-dialog2">
                        <img src="~/Content/HomeController/images/about-img8.jpg" alt="" />
                        <h3>Web Designer</h3>
                    </a>
                </div>
                <div class="col_1_of_about-grids span_1_of_about-grids">
                    <a class="popup-with-zoom-anim" href="#small-dialog2">
                        <img src="~/Content/HomeController/images/about-img9.jpg" alt="" />
                        <h3>Web Designer</h3>
                    </a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>