@{
    ViewBag.Title = "Contact";
}

@*<div class="banner">
    <div class="wrap">
        <h2>Contact</h2><div class="clear"></div>
    </div>
</div>*@
<div class="main">
    <div class="project-wrapper">
        <div class="map">
            @*<iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://goo.gl/maps/fqqgp"></iframe><br><small><a href="https://goo.gl/maps/fqqgp" style="color:#666;text-align:left;font-size:12px"></a></small>*@
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3617.76650740033!2d67.12093!3d24.940022999999997!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb338980b4615af%3A0xe968e4f0fd0119cd!2sUniversity+of+Karachi!5e0!3m2!1sen!2sus!4v1422993631386" width="100%" height="400" frameborder="1" style="border:1px" ></iframe>
        
        </div>
        <div class="wrap">
            <div class="contact">
                @*<div class="cont span_2_of_contact">
                    <h5 class="leave">Send Us A Message</h5><div class="clear"></div>
                    <form method="post" action="contact-post.html">
                        <div class="contact-to">
                            <input type="text" class="text" value="Name..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name...';}">
                            <input type="text" class="text" value="Email..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email...';}" style="margin-left: 10px">
                            <input type="text" class="text" value="Subject..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject...';}" style="margin-left: 10px">
                        </div>
                        <div class="text2">
                            <textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message..</textarea>
                        </div>
                        <div>
                            <a href="#" class="submit">Send a Message</a>
                        </div>
                    </form>
                </div>*@
                <div class="lsidebar span_1_of_about">
                    
                        
                    <div class="contact-list">
                        <h5 class="leave">Contact Info</h5><div class="clear"></div>

                        <ul>
                            <li><img src="~/Content/HomeController/images/address.png" alt=""><p>University Of Karachi Department of Computer Science</p><div class="clear"></div></li>
                            <li><img src="~/Content/HomeController/images/phone.png" alt=""><p>Phone: +92 323 250 2775<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+92 333 111 2222 </p><div class="clear"></div></li>
                            <li><img src="~/Content/HomeController/images/msg.png" alt=""><p>Email: <span class="yellow1"><a href="#">info(at)fixtures.com</a></span></p><div class="clear"></div></li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>	