@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}
@*
    <!-- **********************************************************************************************************************************************************
         MAIN CONTENT
         *********************************************************************************************************************************************************** -->
    <!--main content start-->

    <div class="row mtbox">
        <div class="col-md-2 col-sm-2 col-md-offset-1 box0">
            <div class="box1">
                <span class="li_heart"></span>
                <h3>933</h3>
            </div>
            <p>933 People liked your page the last 24hs. Whoohoo!</p>
        </div>
        <div class="col-md-2 col-sm-2 box0">
            <div class="box1">
                <span class="li_cloud"></span>
                <h3>+48</h3>
            </div>
            <p>48 New files were added in your cloud storage.</p>
        </div>
        <div class="col-md-2 col-sm-2 box0">
            <div class="box1">
                <span class="li_stack"></span>
                <h3>23</h3>
            </div>
            <p>You have 23 unread messages in your inbox.</p>
        </div>
        <div class="col-md-2 col-sm-2 box0">
            <div class="box1">
                <span class="li_news"></span>
                <h3>+10</h3>
            </div>
            <p>More than 10 news were added in your reader.</p>
        </div>
        <div class="col-md-2 col-sm-2 box0">
            <div class="box1">
                <span class="li_data"></span>
                <h3>OK!</h3>
            </div>
            <p>Your server is working perfectly. Relax & enjoy.</p>
        </div>

    </div><!-- /row mt -->


    <div class="row mt">
        <!-- SERVER STATUS PANELS -->
        <div class="col-md-4 col-sm-4 mb">
            <div class="white-panel pn donut-chart">
                <div class="white-header">
                    <h5>SERVER LOAD</h5>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-xs-6 goleft">
                        <p><i class="fa fa-database"></i> 70%</p>
                    </div>
                </div>
                <canvas id="serverstatus01" height="120" width="120"></canvas>
                <script>
                    var doughnutData = [
                            {
                                value: 70,
                                color: "#68dff0"
                            },
                            {
                                value: 30,
                                color: "#fdfdfd"
                            }
                    ];
                    var myDoughnut = new Chart(document.getElementById("serverstatus01").getContext("2d")).Doughnut(doughnutData);
                </script>
            </div><! --/grey-panel -->
        </div><!-- /col-md-4-->


        <div class="col-md-4 col-sm-4 mb">
            <div class="white-panel pn">
                <div class="white-header">
                    <h5>TOP PRODUCT</h5>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-xs-6 goleft">
                        <p><i class="fa fa-heart"></i> 122</p>
                    </div>
                    <div class="col-sm-6 col-xs-6"></div>
                </div>
                <div class="centered">
                    <img src="~/Content/PropertiesController/assets/img/product.png" width="120">
                </div>
            </div>
        </div><!-- /col-md-4 -->

        <div class="col-md-4 mb">
            <!-- WHITE PANEL - TOP USER -->
            <div class="white-panel pn">
                <div class="white-header">
                    <h5>TOP USER</h5>
                </div>
                <p>
                    <img src="~/Content/PropertiesController/assets/img/ui-zac.jpg" class="img-circle" width="80">
                </p>
                <p><b>Zac Snider</b></p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="small mt">MEMBER SINCE</p>
                        <p>2012</p>
                    </div>
                    <div class="col-md-6">
                        <p class="small mt">TOTAL SPEND</p>
                        <p>$ 47,60</p>
                    </div>
                </div>
            </div>
        </div><!-- /col-md-4 -->


    </div><!-- /row -->


    <div class="row">
        <!-- TWITTER PANEL -->
        <div class="col-md-4 mb">
            <div class="darkblue-panel pn">
                <div class="darkblue-header">
                    <h5>DROPBOX STATICS</h5>
                </div>
                <canvas id="serverstatus02" height="120" width="120"></canvas>
                <script>
                    var doughnutData = [
                            {
                                value: 60,
                                color: "#68dff0"
                            },
                            {
                                value: 40,
                                color: "#444c57"
                            }
                    ];
                    var myDoughnut = new Chart(document.getElementById("serverstatus02").getContext("2d")).Doughnut(doughnutData);
                </script>
                <p>April 17, 2014</p>
                <footer>
                    <div class="pull-left">
                        <h5><i class="fa fa-hdd-o"></i> 17 GB</h5>
                    </div>
                    <div class="pull-right">
                        <h5>60% Used</h5>
                    </div>
                </footer>
            </div><! -- /darkblue panel -->
        </div><!-- /col-md-4 -->


        <div class="col-md-4 mb">
            <!-- INSTAGRAM PANEL -->
            <div class="instagram-panel pn">
                <i class="fa fa-instagram fa-4x"></i>
                <p>
                    <br />
                    5 min. ago
                </p>
                <p><i class="fa fa-comment"></i> 18 | <i class="fa fa-heart"></i> 49</p>
            </div>
        </div><!-- /col-md-4 -->

        <div class="col-md-4 col-sm-4 mb">
            <!-- REVENUE PANEL -->
            <div class="darkblue-panel pn">
                <div class="darkblue-header">
                    <h5>REVENUE</h5>
                </div>
                <div class="chart mt">
                    <div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="4" data-data="[200,135,667,333,526,996,564,123,890,464,655]"></div>
                </div>
                <p class="mt"><b>$ 17,980</b><br />Month Income</p>
            </div>
        </div><!-- /col-md-4 -->

    </div><!-- /row -->

    <div class="row mt">
        <!--CUSTOM CHART START -->
        <div class="border-head">
            <h3>VISITS</h3>
        </div>
        <div class="custom-bar-chart">
            <ul class="y-axis">
                <li><span>10.000</span></li>
                <li><span>8.000</span></li>
                <li><span>6.000</span></li>
                <li><span>4.000</span></li>
                <li><span>2.000</span></li>
                <li><span>0</span></li>
            </ul>
            <div class="bar">
                <div class="title">JAN</div>
                <div class="value tooltips" data-original-title="8.500" data-toggle="tooltip" data-placement="top">85%</div>
            </div>
            <div class="bar ">
                <div class="title">FEB</div>
                <div class="value tooltips" data-original-title="5.000" data-toggle="tooltip" data-placement="top">50%</div>
            </div>
            <div class="bar ">
                <div class="title">MAR</div>
                <div class="value tooltips" data-original-title="6.000" data-toggle="tooltip" data-placement="top">60%</div>
            </div>
            <div class="bar ">
                <div class="title">APR</div>
                <div class="value tooltips" data-original-title="4.500" data-toggle="tooltip" data-placement="top">45%</div>
            </div>
            <div class="bar">
                <div class="title">MAY</div>
                <div class="value tooltips" data-original-title="3.200" data-toggle="tooltip" data-placement="top">32%</div>
            </div>
            <div class="bar ">
                <div class="title">JUN</div>
                <div class="value tooltips" data-original-title="6.200" data-toggle="tooltip" data-placement="top">62%</div>
            </div>
            <div class="bar">
                <div class="title">JUL</div>
                <div class="value tooltips" data-original-title="7.500" data-toggle="tooltip" data-placement="top">75%</div>
            </div>
        </div>
        <!--custom chart end-->
    </div><!-- /row -->*@





@*SLIDER CODE STARTS HERE*@





<!DOCTYPE html>
<!-- Camera is a Pixedelic free jQuery slideshow | Manuel Masia (designer and developer) -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Camera | a free jQuery slideshow by Pixedelic</title>
    <meta name="description" content="Camera a free jQuery slideshow with many effects, transitions, adaptive layout, easy to customize, using canvas and mobile ready">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--///////////////////////////////////////////////////////////////////////////////////////////////////
    //
    //		Styles
    //
    ///////////////////////////////////////////////////////////////////////////////////////////////////-->
    <link rel='stylesheet' id='camera-css' href='../Content/camera.css' type='text/css' media='all'>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        a {
            color: #09f;
        }

            a:hover {
                text-decoration: none;
            }

        #back_to_camera {
            clear: both;
            display: block;
            height: 80px;
            line-height: 40px;
            padding: 20px;
        }

        .fluid_container {
            margin: 0 auto;
            max-width: 1000px;
            width: 90%;
        }
    </style>

    <!--///////////////////////////////////////////////////////////////////////////////////////////////////
    //
    //		Scripts
    //
    ///////////////////////////////////////////////////////////////////////////////////////////////////-->

    <script type='text/javascript' src='../Scripts/jquery.min.js'></script>
    <script type='text/javascript' src='../Scripts/jquery.mobile.customized.min.js'></script>
    <script type='text/javascript' src='../Scripts/jquery.easing.1.3.js'></script>
    <script type='text/javascript' src='../Scripts/camera.js'></script>

    <script>
        jQuery(function () {

            jQuery('#camera_wrap_3').camera({
                height: '56%',
                pagination: false,
                thumbnails: true,
                imagePath: '../images/'
            });

        });
    </script>

</head>
<body>
    @*<div id="back_to_camera">
        @*<a href="http://www.pixedelic.com/plugins/camera/">&larr; Back to the Camera project</a>*@
    @*</div>*@<!-- #back_to_camera -->

    <div class="fluid_container">
        @*<p>Videos, HTML elements and data- attributes</p>*@
        <div class="camera_wrap camera_emboss" id="camera_wrap_3">
            <div data-thumb="../Content/slides/thumbs/big_bunny_fake.jpg" data-src="../Content/slides/big_bunny_fake.jpg">
                <iframe src="http://player.vimeo.com/video/2203727" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <div data-thumb="../Content/slides/thumbs/leaf.jpg" data-src="../Content/slides/leaf.jpg">
                <div style="position:absolute; top:5%; left:5%; background:#000; color:#fff; padding:5px; width:25%" class="fadeIn camera_effected">@*This is an HTML element included in the transition effect*@</div>
            </div>
            <div data-thumb="../Content/slides/thumbs/road.jpg" data-src="../Content/slides/road.jpg" data-time="1500" data-trasperiod="4000" data-link="http://www.google.com/" data-target="_blank">
                <div class="camera_caption fadeFromBottom">
                    @*Changed the time and the transition time of this slide*@
                </div>
            </div>
        </div><!-- #camera_wrap_3 -->

    </div><!-- .fluid_container -->

    <div style="clear:both; display:block; height:100px"></div>
</body>
</html>