








<div class="container">
    <div class="navbar navbar-inverse navbar-left " style="width: 1273px; margin-left: -67px; margin-top: -20px;">

        <div class="navbar-header">
            <a class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="navbar-brand" href="#">DashBoard</a>
            <a class="navbar-brand" href="#">Inbox</a>
            <a class="navbar-brand" href="#">Your Listings</a>
            <a class="navbar-brand" href="#">Your Trips</a>
            <a class="navbar-brand" href="#">Profile</a>
            <a class="navbar-brand" href="#">Account</a>
        </div>
    </div>
</div>
