
@{

    ViewBag.Title = "DashBoard";
}

    <div class="row mt">
    <div class="col-md-3">
        <div class="white-panel pn donut-chart">
            <div class="white-header">
                <h5><b><a href="#">@User.Identity.Name</a></b></h5>
            </div>
            <div class="media media-photo-block">
                @*<a href="/users/show/22317732" title="View Profile"><img alt="Muhammad" class="img-responsive" height="209" src="https://a1.muscache.com/ic/users/22317732/profile_pic/1412848034/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=225:*&amp;output-format=jpg&amp;output-quality=70" title="Muhammad" width="290"></a>*@
                @{
                    FixturesVer1.Models.ImageViewModel image = @ViewBag.image;
                    <a href="/users/Profile/" title="View Profile">
                        @Html.Image(@Url.Content(image.src), image.altText, "190", "290");
                    </a>
                }

            </div>
        </div>
    </div>

 

    <div class="col-md-offset-3">
        <div class="col-lg-12">

            <div class="row">

                @*POST AD*@

                <a href="/properties/postad">
                    <div class="col-lg-6 col-md-6 col-sm-6 mb">
                        <div class="steps pn">
                            <img src="~/Content/postad.png" style="width :450px;height:200px" />
                            <input type='submit' value='POST AD' id='submit' />
                        </div>
                    </div><! --/col-md-4 -->
                    </a>

                @*FIND*@

                <a href="/properties/listing">
                    <div class="col-lg-6 col-md-6 col-sm-6 mb">
                        <div class="steps pn">
                            <img src="~/Content/find.jpg" style="width :450px;height:200px" />
                            <input type='submit' value='FIND' id='submit' />
                        </div>
                    </div><! --/col-md-4 -->
</a>


            </div>
            <div class="row mt">

                @*PROFILE*@

                <a href="/users/profile">
                <div class="col-lg-6 col-md-6 col-sm-6 mb">
                    <div class="steps pn">
                        <img src="~/Content/about-img9.jpg" style="width :450px;height:200px"  />
                      <input type='submit' value='PROFILE' id='submit' />
                    </div>
                </div><! --/col-md-4 -->
                    </a>

                @*YOUR LISTING*@

                <a href="/properties/browselisting">
                    <div class="col-lg-6 col-md-6 col-sm-6 mb">
                        <div class="steps pn">
                            <img src="~/Content/g2.png" style="width :450px;height:200px" />
                            <input type='submit' value='YOUR LISTINGS' id='submit' />
                        </div>
                    </div><! --/col-md-4 -->
                    </a>
            </div>

            <div class="row mt">
             
                   @*WISHLIST*@

                <a href="/properties/getwishlist">
                    <div class="col-lg-6 col-md-6 col-sm-6 mb">
                        <div class="steps pn">
                            <img src="~/Content/wishlist.jpg" style="width :450px;height:200px" />
                            <input type='submit' value='Wish List' id='submit' />
                        </div>
                    </div><! --/col-md-4 -->
                    </a>

                @*About US*@
                <a href="/home/about">
                    <div class="col-lg-6 col-md-6 col-sm-6 mb">
                        <div class="steps pn">
                            <img src="~/Content/aboutus.jpg" style="width :450px;height:200px" />
                            <input type='submit' value='ABOUT US' id='submit' />
                        </div>
                    </div><! --/col-md-4 -->
                    </a>
            </div>
            </div>
    </div>
</div>
 