@{
    ViewBag.Title = "Profile";
}

<div class="project-wrapper">
    <div class="project">
        <div class="blog-left">
            <div class="blog-bg">
                <h4>"Lorem ipsum dolor sit consectetuer adipiscing elit, sed diam"</h4><span class="author">adipiscing</span><div class="clear"></div>
            </div>
            <div class="blog-img">
                <a href="single.html">
                    <img src="~/Content/HomeController/images/blog-img1.jpg" alt="" />
                    <div class="blog-desc">
                        <h5>hendrerit in vulputate velit esse molestie consequat</h5>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        <div class="comment">
                            <span class="icon"><img src="~/Content/HomeController/images/b-heart.png" title="likes" alt="" />15</span>
                            <div class="comment-desc"><a href="#">by adipiscing</a> / <a href="#">6comments</a> / <a href="#">Dec. 28, 2013</a></div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="blog-img1">
                <a href="single.html">
                    <img src="~/Content/HomeController/images/blog-img2.jpg" alt="" />
                    <div class="blog-desc">
                        <h5>hendrerit in vulputate velit esse molestie consequat</h5>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        <div class="comment">
                            <span class="icon"><img src="~/Content/HomeController/images/b-heart.png" title="likes" alt="" />15</span>
                            <div class="comment-desc"><a href="#">by adipiscing</a> / <a href="#">6comments</a> / <a href="#">Dec. 28, 2013</a></div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="blog-img2">
                <a href="single.html">
                    <img src="~/Content/HomeController/images/blog-img3.jpg" alt="" />
                    <div class="blog-desc">
                        <h5>hendrerit in vulputate velit esse molestie consequat</h5>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        <div class="comment">
                            <span class="icon"><img src="~/Content/HomeController/images/b-heart.png" title="likes" alt="" />15</span>
                            <div class="comment-desc"><a href="#">by adipiscing</a> / <a href="#">6comments</a> / <a href="#">Dec. 28, 2013</a></div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="blog-right">
            <div class="blog-img">
                <a href="single.html">
                    <img src="~/Content/HomeController/images/blog-img4.jpg" alt="" />
                    <div class="blog-desc">
                        <h5>hendrerit in vulputate velit esse molestie consequat</h5>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        <div class="comment">
                            <span class="icon"><img src="~/Content/HomeController/images/b-heart.png" title="likes" alt="" />15</span>
                            <div class="comment-desc"><a href="#">by adipiscing</a> / <a href="#">6comments</a> / <a href="#">Dec. 28, 2013</a></div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="blog-img1">
                <a href="single.html">
                    <img src="~/Content/HomeController/images/blog-img5.jpg" alt="" />
                    <div class="blog-desc">
                        <h5>hendrerit in vulputate velit esse molestie consequat</h5>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        <div class="comment">
                            <span class="icon"><img src="~/Content/HomeController/images/b-heart.png" title="likes" alt="" />15</span>
                            <div class="comment-desc"><a href="#">by adipiscing</a> / <a href="#">6comments</a> / <a href="#">Dec. 28, 2013</a></div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="blog-img2">
                <a href="single.html">
                    <img src="~/Content/HomeController/images/blog-img6.jpg" alt="" />
                    <div class="blog-desc">
                        <h5>hendrerit in vulputate velit esse molestie consequat</h5>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        <div class="comment">
                            <span class="icon"><img src="~/Content/HomeController/images/b-heart.png" title="likes" alt="" />15</span>
                            <div class="comment-desc"><a href="#">by adipiscing</a> / <a href="#">6comments</a> / <a href="#">Dec. 28, 2013</a></div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="blog-img2">
                <a href="single.html">
                    <img src="~/Content/HomeController/images/blog-img7.jpg" alt="" />
                    <div class="blog-desc">
                        <h5>hendrerit in vulputate velit esse molestie consequat</h5>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        <div class="comment">
                            <span class="icon"><img src="~/Content/HomeController/images/b-heart.png" title="likes" alt="" />15</span>
                            <div class="comment-desc"><a href="#">by adipiscing</a> / <a href="#">6comments</a> / <a href="#">Dec. 28, 2013</a></div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="clear"></div>
        <ul class="dc_pagination dc_paginationA dc_paginationA06">
            <li><a href="#" class="previous">Previous</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#" class="current">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#">19</a></li>
            <li><a href="#">20</a></li>
            <li><a href="#" class="next">Next</a></li>
        </ul>
    </div>
    <div class="project-sidebar">
        <div class="project-list">
            <div class="search_box">
                <form>
                    <input type="text" value="Search...." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                    <input type="submit" value="">
                </form>
            </div>
        </div>
        <div class="project-list">
            <h4>Categories</h4>
            <ul class="blog-list">
                <li><img src="~/Content/HomeController/images/arrow.png" alt=""><p><a href="#">Loremipsum</a></p><div class="clear"></div></li>
                <li><img src="~/Content/HomeController/images/arrow.png" alt=""><p><a href="#">Loremipsum</a></p><div class="clear"></div></li>
                <li><img src="~/Content/HomeController/images/arrow.png" alt=""><p><a href="#">Loremipsum</a></p><div class="clear"></div></li>
                <li><img src="~/Content/HomeController/images/arrow.png" alt=""><p><a href="#">Loremipsum</a></p><div class="clear"></div></li>
                <li><img src="~/Content/HomeController/images/arrow.png" alt=""><p><a href="#">Loremipsum</a></p><div class="clear"></div></li>
            </ul>
            <ul class="blog-list">
                <li><img src="~/Content/HomeController/images/arrow.png" alt=""><p><a href="#">Loremipsum</a></p><div class="clear"></div></li>
                <li><img src="~/Content/HomeController/images/arrow.png" alt=""><p><a href="#">Loremipsum</a></p><div class="clear"></div></li>
                <li><img src="~/Content/HomeController/images/arrow.png" alt=""><p><a href="#">Loremipsum</a></p><div class="clear"></div></li>
                <li><img src="~/Content/HomeController/images/arrow.png" alt=""><p><a href="#">Loremipsum</a></p><div class="clear"></div></li>
                <li><img src="~/Content/HomeController/images/arrow.png" alt=""><p><a href="#">Loremipsum</a></p><div class="clear"></div></li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="project-list">
            <h4>Archive</h4>
            <ul class="blog-list">
                <li><img src="images/arrow.png" alt=""><p><a href="#">July (15)</a></p><div class="clear"></div></li>
                <li><img src="images/arrow.png" alt=""><p><a href="#">Oct (20)</a></p><div class="clear"></div></li>
                <li><img src="images/arrow.png" alt=""><p><a href="#">November (8)</a></p><div class="clear"></div></li>
                <li><img src="images/arrow.png" alt=""><p><a href="#">December (25)</a></p><div class="clear"></div></li>
                <li><img src="images/arrow.png" alt=""><p><a href="#">August (9)</a></p><div class="clear"></div></li>
            </ul>
            <ul class="blog-list">
                <li><img src="~/Content/HomeController/images/arrow.png" alt=""><p><a href="#">July (15)</a></p><div class="clear"></div></li>
                <li><img src="~/Content/HomeController/images/arrow.png" alt=""><p><a href="#">Oct (20)</a></p><div class="clear"></div></li>
                <li><img src="~/Content/HomeController/images/arrow.png" alt=""><p><a href="#">November (8)</a></p><div class="clear"></div></li>
                <li><img src="~/Content/HomeController/images/arrow.png" alt=""><p><a href="#">December (25)</a></p><div class="clear"></div></li>
                <li><img src="~/Content/HomeController/images/arrow.png" alt=""><p><a href="#">August (9)</a></p><div class="clear"></div></li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="project-list1">
            <h4>Popular Posts</h4>
            <ul>
                <li>
                    <img src="~/Content/HomeController/images/list-img.jpg" alt=""><p><a href="#">Lorem ipsum dolor sit amet, consectetuer</a></p>
                    <span class="likes"><span class="link"><a href="#">Dec 14, 2013</a></span><a href="#"><img src="~/Content/HomeController/images/heart.png" title="likes" alt="" /></a>16</span><div class="clear"></div>
                </li>
                <li>
                    <img src="~/Content/HomeController/images/list-img1.jpg" alt=""><p><a href="#">Lorem ipsum dolor sit amet, consectetuer</a></p>
                    <span class="likes"><span class="link"><a href="#">Dec 14, 2013</a></span><a href="#"><img src="~/Content/HomeController/images/heart.png" title="likes" alt="" /></a>16</span><div class="clear"></div>
                </li>
                <li>
                    <img src="~/Content/HomeController/images/list-img2.jpg" alt=""><p><a href="#">Lorem ipsum dolor sit amet, consectetuer</a></p>
                    <span class="likes"><span class="link"><a href="#">Dec 14, 2013</a></span><a href="#"><img src="~/Content/HomeController/images/heart.png" title="likes" alt="" /></a>16</span><div class="clear"></div>
                </li>
                <li>
                    <img src="~/Content/HomeController/images/list-img4.jpg" alt=""><p><a href="#">Lorem ipsum dolor sit amet, consectetuer</a></p>
                    <span class="likes"><span class="link"><a href="#">Dec 14, 2013</a></span><a href="#"><img src="~/Content/HomeController/images/heart.png" title="likes" alt="" /></a>16</span><div class="clear"></div>
                </li>
                <li>
                    <img src="~/Content/HomeController/images/list-img5.jpg" alt=""><p><a href="#">Lorem ipsum dolor sit amet, consectetuer</a></p>
                    <span class="likes"><span class="link"><a href="#">Dec 14, 2013</a></span><a href="#"><img src="~/Content/HomeController/images/heart.png" title="likes" alt="" /></a>16</span><div class="clear"></div>
                </li>
            </ul>
        </div>
        <div class="project-list2">
            <h4>Tags</h4>
            <ul>
                <li><a href="#">Web Design</a></li>
                <li><a href="#">Html5</a></li>
                <li><a href="#">Wordpress</a></li>
                <li><a href="#">Logo</a></li>
                <li><a href="#">Web Design</a></li>
                <li><a href="#">Web Design</a></li>
                <li><a href="#">Wordpress</a></li>
                <li><a href="#">Web Design</a></li>
                <li><a href="#">Html5</a></li>
                <li><a href="#">Wordpress</a></li>
                <li><a href="#">Logo</a></li>
                <div class="clear"></div>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>

